@charset "UTF-8";
@import url('../css/nanumgothic.css');
@font-face{
	font-family:'Nanum Gothic','NanumGothic';
	src:url('/fonts/NanumGothic.eot');
	src:url('/fonts/NanumGothic.eot?#iefix') format('embedded-opentype'),url('/fonts/NanumGothic.woff') format('woff'),url('/fonts/NanumGothic.ttf') format('truetype'),url('/fonts/NanumGothic.svg#NanumGothic') format('svg');
	src:local(※), url('/fonts/NanumGothic.woff') format('woff');
}
/*공통*/
body{width:100%;height:100%;margin:0;padding:0;background:rgba(255,255,255,1); font-family:'Nanum Gothic','NanumGothic','Gothic','고딕','Sans-serif'; font-size:20px; overflow:auto;}
*:focus,*:focus-within{outline:2px dashed #423122;}
section{padding:0;margin:0;border:0;display:block;position:relative;}
article{padding:0;margin:0;border:0;display:block;position:relative;}
nav{padding:0;margin:0;border:0;display:block;position:relative;}
div{box-sizing:border-box;margin:0;display:block;position:relative;}
ul{position:relative;margin:0;padding:0;margin:0;border:0;list-style:none;display:block;box-sizing:border-box;}
img{border:0px;box-sizing:border-box;float:left;}
h1,h2,h3,h4,h5,h6 {padding:0;margin:0;border:0;display:block;position:relative;box-sizing:border-box;font-size:1em;}
header{padding:0;margin:0;border:0;display:block;position:relative;}
footer{width:100%;background:#fff;position:relative;margin:0;padding:0;margin:0;border:0;border-top:1px solid #000;display:block;z-index:5;}
a{font-family:'Nanum Gothic','NanumGothic','Gothic','고딕';}
canvas{position:fixed;bottom:0;left:0;right:0;width:100%;z-index:0;}
input[type=radio]{display:none;}
input[type=checkbox]{display:none;}
input[type=text]{box-sizing:border-box;}
input[type=button]{box-sizing:border-box;font-family:'Nanum Gothic','NanumGothic';}
input[type=select]{appearance:none;}

.contact_form{max-width:1280px;min-width:320px;padding:10px;margin:0 auto;}
.contact_form>h3{height:50px;line-height:50px;font-size:25px;text-align:center;margin-bottom:20px;}
.contact_form table{width:100%;border-collapse:collapse;}
.contact_form table tr{text-align:right;}
.contact_form table th{min-width:20px;max-width:100px;color:#24242d;font-size:0.8em;text-align:left;word-break:keep-all;}
.contact_form table td{min-width:280px;max-width:420px;font-size:0.8em;text-align:right;word-break:keep-all;}
.contact_form table td input[type=text]{width:100%; height: 30px; line-height:30px; padding:0px 4px; border: 1px solid #cccccc; color: #333333; text-align:left;}
.contact_form table td textarea{box-sizing:border-box; width: 100%; height: 198px; border: 1px solid #cccccc; padding:4px 4px; color: #333333; font-family:'Nanum Gothic','NanumGothic','Gothic','고딕','Sans-serif'; font-weight: 400; text-align:left; resize:none;}
.contact_form table td button{width:100%;height:50px;background:#000;border:0;border-radius:5px;color:#fff;font-size:18px;cursor:pointer;}
.contact_form table td #h_button{display:block;}
.contact_form table td #path_button{display:none;}

.dimm_filter{position:fixed;display:none;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:60;}
.dimm_filter.on{display:block;}
.dimm_filter .popup_content{position:relative; min-width:320px; min-height:150px; position:absolute; top:50%; left:50%; margin-top:-75px; margin-left:-160px; background:rgba(255,255,255,1); border-radius:5px; padding:20px;}
.dimm_filter .popup_content>p{margin-bottom:70px;text-align:center;font-size:0.8em;font-weight:600;color:#000;}
.dimm_filter .popup_content>button{position:absolute; width:100%; height:50px; background:#000; border:0; border-radius:5px; left:0; bottom:0px; color:#fff; font-size:18px; cursor:pointer;}

@media all and (max-width:320px){
	body{font-size:15px;}
}
@media all and (min-width:321px) and (max-width:480px){
	body{font-size:15px;}
}
@media all and (min-width:481px) and (max-width:640px){
	body{font-size:15px;}
}
@media all and (min-width:641px) and (max-width:720px){
	body{font-size:15px;}
}
@media all and (min-width:721px) and (max-width:1080px){
	body{font-size:20px;}
}
@media all and (min-width:1081px) and (max-width:1280px){
	body{font-size:20px;}
}
@media all and (min-width:1281px) and (max-width:1500px){
	body{font-size:20px;}
}
@media all and (min-width:1501px){
	body{font-size:25x;}
}
